.sno-gallery-block-backend-main img {
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 100%;
    padding: 0.3rem;
   
}
.sno-gallery-block-backend-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
   
}
.sno-gallery-block-backend-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
}
.sno-gallery-block-backend-button{
    align-self: center;
}